@charset "utf-8";
#swimbi{
	/*padding: 20px 0px 0 0px;*/
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	left: 0px;
}
#swimbi>ul{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABGCAYAAAANSP5dAAAAcUlEQVQYV23IWQ6CQBREUdgA80w3ogwKKKPG/a9MK3lflebnJPfaVvX92Zb+EOqNVAdR7khhI4oVmS8m2YyXvYj0iRQmIhmRyUDED6RwJ6IeGXUmYYsXNkRwQwpXwq+R/oXwKqSgCVch3dLEKfCc/JQ/EalWV5RwwJYAAAAASUVORK5CYII=');
	padding: 0 0 0 0 !important;
	border-radius: 0px;
	box-shadow: 0px 1px 13px  0px rgba(85,85,85,.55);
	width: 100%;
	list-style: none;
	position: relative;
	white-space: nowrap;
	/*display: inline-table;*/
	font-size: 0px;
}
#swimbi ul, #swimbi li, #swimbi a{
	font-family: Arial, Helvetica, sans-serif !important;
	margin: 0;
	padding: 0;
}
#swimbi>ul>li{
	display: inline-block;

	vertical-align: top;
	font-size: 18px;
	position: relative;
}
#swimbi ul li:hover>ul{
	display: block !important;
	visibility: visible;
	opacity: 1;
	pointer-events:  all; -webkit-transform: translateY(0) scale3d(1,1,1); -ms-transform: translateY(0) scale3d(1,1,1); transform: translateY(0) scale3d(1,1,1); -webkit-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
}
#swimbi>ul>li:hover>a,#swimbi>ul>li.hvr>a{
	color: #ffffff !important;
	border-radius: 0px;
	z-index: 9;
	text-shadow: 0px 0px 0px rgba(69,69,69,0) !important;
}
#swimbi ul li:hover > a:only-child{ box-shadow:none;}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0 18px 0 18px;
	line-height: 70px;
	height: 70px;
	color: #fefefe;
	margin-right: -1px;	text-shadow: 0px 1px 0px rgba(69,69,69,.56);

}
#swimbi>ul>li>a:not(:only-child){
	padding-right: 39px;
}

#swimbi>ul>li>div.ch{
	content: '';
	position: absolute;
	z-index: 992;
	right: 18px;
	top: 50%;
	border: 2px solid #fefefe;
	border-top: none;
	border-left: none;
	margin: -5px 1px;
	width: 5px;
	height: 5px;
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover>div.ch{
	border: 2px solid #ffffff;
	border-top: none;
	border-left: none;
}

#swimbi ul ul{
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	opacity: 0; -webkit-transform: translateY(-50%) scale3d(1,0,1); -ms-transform: translateY(-50%) scale3d(1,0,1); transform: translateY(-50%) scale3d(1,0,1);
	visibility: hidden;
	display: block;
	pointer-events: none;
	border-radius: 0px;
	background: #d1d1d1;
	width: auto;
	list-style: none;
	min-width: 60px;
	padding: 0px 1px 1px 1px;
	position: absolute;
	z-index: 7;
	margin-top: 0;
	box-shadow: 0px 0px 10px  0px rgba(85,85,85,.52);
	top: 70px;
}
#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
	content: '';
	display: block;
	background: rgba(99,1,1,0);
	position: absolute;
	z-index: -6;
	width: 100%;
	height: 100%;
	padding: 8px 2px 35px 35px;
	top: -8px;
	left: -35px;
}

#swimbi ul ul li:not(.column)>ul[data-keepv]:before{
	left: 0px;
	padding: 8px 0;
}

#swimbi ul li:not(.column)>ul:before{
	padding: 8px 35px 35px 35px;
}

#swimbi ul ul li:not(.column)>ul:after{
	content: '';
	position: absolute;
	z-index: -5;
	top: 8px;
	left: -59.5px;
	width: 49px;
	height: 49px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:before,#swimbi>ul>li:hover:after{
	content: '';
	position: absolute;
	z-index: 4;
	top: 38.5px;
	left: -49.5px;
	width: 99px;
	height: 99px;
	background: rgba(99,1,1,0);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

#swimbi>ul>li:hover:after{
	left: 100%;
	margin-left: -49.5px;
}

#swimbi ul>li:not(.column)>ul{
	border: 1px solid rgba(150,150,150,0.88);
	box-shadow: 0 1px 0 rgba(150,150,150,0.88);
	/*border-radius: 0 5px 0 0;*/
	background: rgba(209,209,209,0.88);
}
#swimbi ul ul.columns{
	font-size: 0px;
}

#swimbi ul ul li.column{
	display: inline-block;
	width: auto;
	vertical-align: top;
}

#swimbi ul ul li.column>ul{
	position: relative;
	display: block;
	box-shadow: none;
	background: none;
	left:0;
	padding: 0;
	visibility: visible;
	opacity: 1;
	transform: none;
	-ms-transform: none;
	-webkit-transform: none;
}

#swimbi ul ul li.column>ul:hover{
	z-index: 9;
}

#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
}
#swimbi ul ul li a{
	padding-left: 15px;
	padding-right: 28px;
	line-height: 35px;
	height: 35px;
	color: #4c4c4c !important;
	text-shadow: 0px 0px 1px rgba(0,0,0,0);
}
#swimbi ul ul li>a:not(:only-child):after{
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	margin: -3px 5px;
	width: 0;
	height: 0;
	border-left: 5px #4c4c4c solid;
	border-top: 4px dashed transparent;
	border-right: none;
	border-bottom: 4px dashed transparent;
}

#swimbi ul ul li:hover>a:after{
	border-left: 5px #ffffff solid;
}

#swimbi ul ul>li>a:only-child{
	padding-right: 15px;
}
#swimbi ul ul>li>a[data-icon], #swimbi ul.mixicon>li>a{
	padding-right: 50px;
}
#swimbi ul ul>li>a[data-icon]:only-child, #swimbi ul.mixicon>li>a:only-child, #swimbi ul li.column>ul.mixicon>li>a:only-child{
	padding-right: 37px;
}
#swimbi ul li.column>ul>li>a:before, #swimbi ul ul>li>a:only-child:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon]:before, #swimbi ul li.column>ul.mixicon>li>a:before{
	padding-right: 8px;
}
#swimbi ul li.column>ul>li>a[data-icon], #swimbi ul li.column>ul.mixicon>li>a{
	padding-right: 28px;
}
#swimbi ul li.column>ul>li>a[data-icon]:only-child{
	padding-right: 15px;
}
#swimbi ul ul li:hover>a{
	color: #ffffff !important;
	box-shadow: none;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 7;
	left: 99%;
	top: 2px;
}
#swimbi li.column>ul{
	top: 0;
}
#swimbi a:not([href]){
	cursor: default;
}
#swimbi a.B{
	font-weight: bold !important;
}
#swimbi a.I{
	font-style: italic !important;
}
#swimbi a.U{
	text-decoration: underline !important;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'ifont';
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&amp;v=4.3.0') format('embedded-opentype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a[data-icon]:before, #swimbi>ul>li>a[data-icon]:after, #swimbi ul ul.mixicon>li>a:before{
	color: #fefefe;
	font-family: ifont;
	pointer-events: none;
	line-height: 70px;
	font-size: 19px;
	margin: 0 14px 0 0;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	content: attr(data-icn);
	visibility: hidden;
}

#swimbi>ul>li>a[data-icon]:after{
	visibility: visible;
	position: absolute;
	z-index: 6;
	top:0;
	left: 18px;
	text-shadow: -1px -1px 0 rgba(69,69,69,.56);
	transition: all .12s ease-out;
	-webkit-transition: all .12s ease-out;
}

#swimbi>ul>li>a[data-icon]:before, #swimbi>ul>li>a[data-icon]:after{
	width: 19px;
}

#swimbi>ul>li>a[data-icon]:before{
	height: 19px;
}

#swimbi>ul>li>a[data-icon].empty:before, #swimbi>ul>li>a[data-icon].empty:after{
	margin: 0 ;
}

#swimbi>ul>li:hover>a:after, #swimbi>ul>li.hvr>a:after{
	color: #ffffff;
	font-size: 24px;
	left: 15.5px;
	text-shadow: -1px -1px 0 rgba(69,69,69,.56);
}

#swimbi ul ul li a[data-icon]:before, #swimbi ul ul.mixicon>li>a:before{
	visibility: visible;
	float: left;
	color: #4c4c4c;
	line-height: 35px;
	font-size: 14px;
	width: 14px;
	height: 14px;
	margin: 0 8px 0 0;
}

#swimbi ul ul li:hover>a:before{
	color: #ffffff;
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		height: 70px;
		padding: 0 !important;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		width: auto !important;
		margin: 0 1px 0 1px;
	}

	#swimbi>ul>li>a,#swimbi>ul:hover:before,#swimbi>ul:hover:after{
		display:none;
	}

	#swimbi>ul:hover>li>a,#swimbi .hvr>li>a{
		display: block !important;
	}

	#swimbi>ul>li:hover{
		z-index: 9 !important;
	}

	#swimbi>ul>li.hvr{
		z-index: 8 !important;
	}

	#swimbi>ul:after {
		line-height: 68px;
		content: 'Menu';
		font-family: Arial, Helvetica, sans-serif !important;
		font-size: 18px;
		color: #fefefe;
		float:right;
		padding-right: 15px;
	}

	#swimbi>ul:hover:after, #swimbi>ul.hvr:after {
		display: none;
	}

	#swimbi>ul:before {
		float: right;
		line-height: 70px;
		content: '';
		margin: 28px 22px 27px 0;
		width: 20px;
		height:3px;
		border-top: 9px double #fefefe;
		border-bottom: 3px solid #fefefe;
	}

	#swimbi>ul:hover:before, #swimbi>ul.hvr:before {
		opacity: 0;
	}

	#swimbi ul ul ul{
		margin-top: 35px;
	}

	#swimbi a[data-show]{
		display: block;
	}

	#swimbi ul ul {
		left: 40px !important;
	}

	#swimbi ul ul li:not(.column)>ul:before, #swimbi ul li:not(.column)>ul:before{
		padding: 8px 2px 2px 2px;
		left: -2px;
	}

	#swimbi ul ul li.column{
		display: block;
	}

	#swimbi ul ul li.column>ul{
		left: 0 !important;
		margin-top: 0;
	}

	#swimbi>ul>li>div.ch, #swimbi>ul>li:hover:before, #swimbi>ul>li:hover:after{
		display: none;
	}
	#swimbi>ul:hover>li>div.ch,#swimbi .hvr>li>div.ch{
		display: block;
	}

}
